.pagination {
    align-items: center;
    background-color: rgb(35, 32, 32);
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: center;
    list-style-type: none;
    position: relative;
    width: 100%;
    bottom: 0;
  }

 